main{
    background-color: black;
    width: 150px;
    height: 150px;
}

.hello-accio{
    color: white;
    margin-left: 32px;
    padding: 10px;
}

/* p{
    color: white;
    margin-left: 32px;
    padding: 10px;
} */